body{
    background-color: rgb(18, 16, 16);
}
header{
    box-shadow: 2px 2px 2px 2px rgb(224, 221, 221);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
     color: rgb(105, 105, 252);
     margin: 10px;
     font-size: 20px;
}

footer{
    box-shadow: 2px 2px 2px 2px rgb(224, 221, 221);
    width: 100%;
    height: auto;
    
}
p{
    color: rgb(223, 232, 240);
    font-size: 20px;
}
h1{
    color:rgb(223, 232, 240) ;
}
img{
    width: 600px;
    height: 400px;
}

.img1{
    display: flex;
    justify-content: center;
}
.img2{
    display: flex;
    justify-content: center;
}
.img3{
    display: flex;
    justify-content: center;
}
.img4{
    display: flex;
    justify-content: center;
}
.img5{
    display: flex;
    justify-content: center;
}
.list a{
    
    margin: 15px;
}